html {
    background: rgba(0, 0, 0, 1);
}

#app {
    margin: 0 auto;
    width: 960px;
    background: rgba(0, 0, 0, 0.8);
}

#app section {
    margin: 0 0 40px 0;
}

#help {
    padding: 150px 0 0 0;
}

h1 {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    border-bottom: 1px solid #999;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    color: #eee;
}

ul li {
    line-height: 32px;
}

code {
    font-family: monospace;
    font-size: 16px;
    background: rgba(64, 127, 255, 1);
    color: #eee;
    border-radius: 3px;
    padding: 4px;
    margin: 0 5px 0 0;
}

p {
    display: inline;
    font-weight: 300;
    font-family: 'Open Sans';
    color: #eee;
}
p:before {
    content: ' - ';
    padding: 0 5px;
}
p:after {
    padding: 0 5px;
    content: ' ';
}

